ul {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li:hover {
  font-weight: bold;
}

.wrapper {
  padding: 10px;
  margin: 8px;
  width: 300px;
}

.button {
  height: 20px;
  border: 2px solid black;
  border-radius: 1em;
  padding: 20px;
  margin: 3px;
  cursor: pointer;
}

.menu-hide {
  display: none;
}

.background,
.grey {
  background-color: lightgrey;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}
